/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html body {
  font-family: "adobe-clean", sans-serif !important;
  color: #2B2F3B;
  font-size: 1.6rem;
}
h1 {
  color: #5574F7;
  font-size: 5rem;
}
h2 {
  color: #BCC5D3;
  font-size: 3.2rem;
}
h3 {
  color: #FFFFFF;
  font-size: 3.2rem;
}
h4 {
  color: #4C5264;
  font-size: 2rem;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.nav-div {
  height: 7rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.nav-div .logo-img {
  width: 4rem;
  height: 5rem;
}
.nav {
  width: 32rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #707070;
}
.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
}
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.banner-sec {
  display: flex;
  margin-bottom: 4rem;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
  padding-left: 10px;
}
.banner-text {
  margin-top: 2.5rem;
}
.main {
  display: flex;
  justify-content: space-between;
}
.logo-img img {
  height: 38.5rem;
  width: 29.4rem;
  padding-right: 10px;
}
.ment-div {
  height: 50rem;
  width: 30rem;
  padding: 2rem;
  margin-bottom: 4rem;
  background-color: #4C5264;
  color: #BCC5D3;
  font-size: 2rem;
  border-radius: 4px;
}
.ment-div-left {
  margin-right: 1rem;
}
.mentors,
.mentees {
  padding-bottom: 1rem;
}
.mentors-img,
.mentees-img {
  height: 7.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.join {
  padding-bottom: 1rem;
}
.join2 {
  padding-bottom: 7rem;
}
.join-btn {
  height: 4rem;
  border-radius: 8px;
  background-color: #60C3FF;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-size: 2rem;
}
.app-sec {
  background-color: #BCC5D3;
  border-radius: 2px;
  padding: 2rem;
}
#app-h2 {
  font-weight: 700;
  color: #5574F7;
  padding-bottom: 1rem;
}
.app-text {
  padding-bottom: 2rem;
}
.tab-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.tab {
  overflow: hidden;
  border: 2px solid #BCC5D3;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  width: 40rem;
}
.tab button {
  background-color: #E2E8ED;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.4s;
}
.tab button:hover {
  background-color: #4C5264;
  color: #FFFFFF;
}
.tabContent {
  display: none;
  padding: 6px 12px;
  border: none;
}
.tabContent img {
  margin: 0 4rem 0 4rem;
}
.inside {
  display: flex;
  justify-content: center;
}
.tabContent h3 {
  margin-bottom: 2rem;
}
.top-right {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
@media (max-width: 715px) {
  .container {
    width: 100%;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .join {
    font-size: 1.9rem;
  }
}
@media (max-width: 630px) {
  .logo-img img {
    height: 32.5rem;
    width: 23.4rem;
  }
}
@media (max-width: 605px) {
  .join2 {
    display: none;
  }
}
@media (max-width: 579px) {
  .logo-img img {
    height: 25.5rem;
    width: 17.4rem;
  }
  .banner-h1 {
    font-size: 3.7rem;
  }
  .banner-text {
    font-size: 2.5rem;
  }
  .join-btn {
    font-size: 1.7rem;
  }
}
@media (max-width: 417px) {
  .logo-img img {
    height: 20.5rem;
    width: 13.4rem;
  }
  .banner-h1 {
    font-size: 2.9rem;
  }
  .banner-text {
    font-size: 2rem;
  }
}
@media (max-width: 378px) {
  .banner-h1 {
    font-size: 2.9rem;
  }
  .banner-text {
    font-size: 2rem;
    margin-top: 1.9rem;
  }
  .footer-nav a {
    font-size: 1.2rem;
  }
}
@media (max-width: 336px) {
  .banner {
    padding-right: 1.2rem;
  }
  .banner-h1 {
    font-size: 2.5rem;
  }
  .banner-text {
    font-size: 1.6rem;
  }
  .logo-img img {
    height: 15.5rem;
    width: 11.4rem;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ment-div {
    height: 30rem;
    width: 100%;
  }
  .ment-div-left {
    margin-right: 0;
  }
}
@media (max-width: 300px) {
  .nav-div .nav a {
    font-size: 1rem;
  }
  .banner {
    padding-right: 1.2rem;
  }
  .banner-h1 {
    font-size: 2.2rem;
  }
  .banner-text {
    font-size: 1.6rem;
  }
  .logo-img img {
    height: 11.5rem;
    width: 8.4rem;
  }
  .mentors-img,
  .mentees-img {
    height: 6rem;
  }
  .tab button {
    padding: 8px 10px;
    font-size: 0.7rem;
  }
}
