// Header Content
.banner-sec {
    display: flex;
    margin-bottom: 4rem;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
}

.banner-text {
    margin-top: 2.5rem;
}

// Main Content
.main {
    display: flex;
    justify-content: space-between;
}

.ment-div {
    height: 50rem;
    width: 30rem;
    padding: 2rem;
    margin-bottom: 4rem;
    background-color: @dark-2;
    color: @grey-1;
    font-size: 2rem;
    border-radius: 4px;
}

.mentors, .mentees {
    padding-bottom: 1rem;
}

.mentors-img, .mentees-img {
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.join {
    padding-bottom: 1rem;
}

.join-btn {
    height: 4rem;
    border-radius: 8px;
    background-color: @blue-2;
    color: @white-1;
    border: 1px solid @white-1;
    font-size: 2rem;
}
// Tabs
.app-sec {
    background-color: @grey-1;
    border-radius: 2px;
    padding: 2rem;
}

#app-h2 {
    color: @white-1;
    padding-bottom: 1rem;
}

.app-text {
    padding-bottom: 2rem;
}

.tab-box {
    display: flex;
    justify-content: center;
}

.tab {
    overflow: hidden;
    border: 2px solid @blue-1;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    width: 40rem;
}

.tab button {
    background-color: @grey-2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
}

.tab button:hover {
    background-color: @dark-2;
    color: @white-1;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid @blue-1;
    border-top: none;
}