body {
    background-image: url("img/logo.png");
    background-size: cover;
}

.banner-sec {
    display: flex;
    margin-bottom: 4rem;
}

.banner-text {
    margin-top: 2.5rem;
}

.main {
    display: flex;
    justify-content: space-between;
}

.ment-div {
    height: 50rem;
    width: 30rem;
    padding: 2rem;
    margin-bottom: 4rem;
    background-color: @dark-2;
    color: @grey-1;
    font-size: 2rem;
    border-radius: 4px;
}

.mentors, .mentees {
    padding-bottom: 1rem;
}

.mentors-img, .mentees-img {
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.join {
    padding-bottom: 1rem;
}

.join-btn {
    height: 4rem;
    border-radius: 8px;
    background-color: @blue-2;
    color: @white-1;
    border: 1px solid @white-1;
    font-size: 2rem;
}

.app-sec {
    background-color: @grey-1;
    border-radius: 2px;
    padding: 2rem;
}

#app-h2 {
    color: @white-1;
    padding-bottom: 1rem;
}