.nav-div {
    height: 7rem;
    width: 100%;
    padding: 2rem;
    // background-color: @blue-2;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-div .logo-img {
    width: 4rem;
    height: 5rem;
}

.nav {
    width: 32rem;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: @dark-3;
}
